{
  "openapi": "3.0.3",
  "info": {
    "title": "SofaScore API Wrapper",
    "version": "1.1.0",
    "description": "REST API wrapper for SofaScore with standardized responses"
  },
  "servers": [
    {
      "url": "http://api.bet-tagger.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Service health"
    },
    {
      "name": "matches",
      "description": "Match endpoints"
    },
    {
      "name": "entities",
      "description": "Team, player and tournament endpoints"
    },
    {
      "name": "search",
      "description": "Search endpoint"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["health"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/matches/live": {
      "get": {
        "tags": ["matches"],
        "summary": "Get live matches",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string",
              "default": "football"
            },
            "required": false,
            "description": "Sport slug used by SofaScore"
          }
        ],
        "responses": {
          "200": {
            "description": "Live matches retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "502": {
            "description": "SofaScore unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/matches/{id}": {
      "get": {
        "tags": ["matches"],
        "summary": "Get match by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Match retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/team/{id}": {
      "get": {
        "tags": ["entities"],
        "summary": "Get team by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/player/{id}": {
      "get": {
        "tags": ["entities"],
        "summary": "Get player by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tournament/{id}": {
      "get": {
        "tags": ["entities"],
        "summary": "Get tournament by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tournament retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": ["search"],
        "summary": "Search across SofaScore entities",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "message": {
            "type": "string",
            "example": ""
          },
          "error": {
            "type": "string",
            "nullable": true,
            "example": null
          }
        },
        "required": ["success", "data", "message", "error"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "data": {
            "nullable": true,
            "example": null
          },
          "message": {
            "type": "string",
            "example": "error description"
          },
          "error": {
            "type": "string",
            "example": "ERROR_CODE"
          }
        },
        "required": ["success", "data", "message", "error"]
      }
    }
  }
}
